{% extends 'main/base.html' %}

{% block content %}

{% if user.is_authenticated %}
<div class="row">
    <div class="col-3 bg-dark">
        <h1>Hello World</h1>
    </div>
    <div class="col bg-primary">

    </div>
</div>

{% else %}

<div class="col-md-6 offset-md-3">
    <h1>Log-In</h1>
    <form method="POST" action="{% url 'home' %}">
        {% csrf_token %}
        <br>
        <div class="mb-3">
          <input type="text" class="form-control" name="username" placeholder="Username" required>
        </div>
        <br>
        <div class="mb-3">
          <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>
        <br>
        <button type="submit" class="btn btn-secondary">Login</button>
    </form>
</div>

{% endif %}
{% endblock %}